<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
        surcoop {% block title %}{% endblock %} | ai-bot
    </title>

	<script src="https://kit.fontawesome.com/95cf76d125.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'js/plugin/apifetch.js' %}"></script>
    <link rel="icon" href="/media/gallery/img/icon.ico" type="image/x-icon"/>
    
  </head>
  <body>
    {% include '_navbar.html' %}
    
    {% block content %}
    {% endblock %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>
