{% extends 'base.html' %} {% block content %}
{% load static %}
  <div class="container p-4">

<!-- Hero Section -->
<header class="row bg-dark" style="color: white">
  <div class="col-md-4 p-5">
    <img src="{% static 'gallery/imgfrontend.png' %}" alt="imgfrontend!">
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1>Bievenid@ a <strong>SURCOOP</strong></h1>
    <h3>SISTEMA ÚNICO DE REGISTRO DE ASOCIACIONES COOPERATIVAS Y DEMÁS ORGANIZACIONES</h3></br>
    <p>Personas</>
    <p><ul><li>El estado de su cuenta, lo tiene en un click.</li><li>Consulte los movimientos de su cuenta o contratos, a cualquier hora y desde donde se encuentre.</li><li>Puede también gestionar su afiliación a la organización de su preferencia, al igual que suscribir nuevos contratos, sin necesidad de presentarse físicamente a sede alguna.</li><li>Informe a su Cooperativa u Organización acerca de su PAGO, enviando el número de referencia.</li></ul></p></div>

<!-- Porfolio Section -->
    <div>

  <div class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5 py-2">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Para Cooperativas</h1>
        <ul><li><strong>SURCOOP</strong> es, en escencia, una formidable herramienta de <strong>CONTROL DE GESTIÓN</strong></li><li>Al momento de rendir cuentas, podrá elaborar informes completos y de muy bello estilo, sin obviar, por supuesto, la calidad y la confiabilidad.</li><li>Podrá obtener un listado, por ejemplo de socios o integrantes de su organización, para saber cuantos están activos, cuantas son mujeres, ordenados por fecha de nacimiento, etc, como Usted lo prefiera. </li></ul>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <img src="/media/gallery/digital3.jpeg" style="border: none"/>
      </div>
     <div class="col-md-10 mx-auto col-lg-5">
        <a class="btn btn-primary rounded-3 btn-sm col-md-10 mx-auto" href="/contacto">CONTACTAR</a>
     </div>
    </div>
  </div>
  </div>
</header>

{% endblock %}
