{% extends 'base.html' %} {% block content %}


    
<main class="form-signin w-50 m-auto p-2">
  <h2 style="text-align: center;">Registro de Usuario</h2>

  {{error}}
  <form method="post" action=""  class="form-control p-2 bg-light border" id="frmsignup">

                        {% csrf_token %}
                        
    <div class="form-row">
      <div class="col-md-12 p-1">
        <div class="form-floating bg-light">
          {{ form.username }}
          <label for="rif">Cédula o RIF</label>
        </div>
      </div>
    
      <div id ="globaldiv">
    
        <div class="col-md-12 p-1">
          <input type="hidden" id="div_eye0" name="div_eye0" value="div_eye" > 
          <div class="input-group mb-3" id="div_eye">  
            <span class="input-group-text btn btn-secondary" id="basic-addon1" style="padding: 15px; font-size: 17px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar Contraseña"><i class="fa fa-cog" aria-hidden="true" style="cursor: pointer;" onclick="passwordgen('tasks','frmsignup','div_eye0')"></i>
            </span>
            <div class="form-floating bg-light">
              {{ form.password1 }}
              <label for="password1">Contraseña</label>
            </div>
            <span class="input-group-text btn btn-secondary" id="basic-addon2" style="padding: 15px; font-size: 17px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Mostrar Contraseña"><i id="pweye" class="fa-solid fa-eye" style="cursor: pointer;" onclick="mospsw('password','tasks','frmsignup','div_eye0','password1')"></i>
            </span> 
          </div>
        </div>
    
        <div class="col-md-12"> 
          <input type="hidden" id="div_eye2" name="div_eye2" value="div_eye1" > 
          <div class="input-group mb-3" id="div_eye1">  
            <span class="input-group-text btn btn-secondary" id="basic-addon1" style="padding: 15px; font-size: 17px;cursor: default" ><i class="fa fa-cog" aria-hidden="true"></i>
            </span>
            <div class="form-floating bg-light">
              {{ form.password2 }}
              <label for="password2">Repetir Contraseña</label>
            </div>
            <span class="input-group-text btn btn-secondary" id="basic-addon3" style="padding: 15px; font-size: 17px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Mostrar Contraseña"><i id="pweye" class="fa-solid fa-eye" style="cursor: pointer;" onclick="mospsw('password','tasks','frmsignup','div_eye2','password2')"></i>
            </span>
          </div>    
        </div>
    
      <div class="col-md-2 p-1 m-auto">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
</main>

{% endblock %}
